.widget {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 10px;
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 5px;
    height: 100px;

    .left,
    .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title {
            font-size: 14px;
            color: #999;
            font-weight: bold;
            text-transform: uppercase;
        }

        .counter {
            font-size: 28px;
            font-weight: 300;
        }

        .link {
            width: fit-content;
            font-size: 12px;
            border-bottom: 1px solid #999;
            cursor: pointer;
        }

        .percentage {
            display: flex;
            font-size: 14px;
            align-items: center;

            &.positive {
                color: green;
            }

            &.negative {
                color: red;
            }
        }

        .icon {
            font-size: 24px;
            padding: 5px;
            // background-color: #dbd2fd;
            border-radius: 5px;
            align-self: center;
        }
    }
}