.datatable {
    height: 650px;
    width: 100%;
    padding: 20px;

    .datatable_title {
        width: 100%;
        font-size: 24px;
        color: #999;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .link {
            text-decoration: none;
            color: green;

            font: {
                size: 16px;
                weight: 400;

            }

            border: 1px solid green;
            padding: 5px;
            border-radius: 5px;

        }
    }

    .cellWithImg {
        display: flex;
        align-items: center;

        img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            margin-right: 15px;
            object-fit: cover;
        }
    }

    .cellWithStatus {
        padding: 5px;
        border-radius: 5px;

        // &.active {
        //     color: green;
        //     background-color: rgb(0 128 0 / 19%);
        // }

        // &.passive {
        //     color: crimson;
        //     background-color: rgb(237 20 61 / 19%);

        // }

        // &.pending {
        //     color: goldenrod;
        //     background-color: rgb(218 165 32 / 19%);
        // }
    }

    .cell_action {
        display: flex;
        align-items: center;
        gap: 15px;


        .view_button,
        .delete_button {
            padding: 2px 5px;
            border-radius: 5px;

            cursor: pointer;
        }

        .view_button {
            color: darkblue;
            border: 1px solid rgba(0, 0, 139, 0.598);
        }

        .delete_button {
            color: crimson;
            border: 1px solid rgba(220, 20, 60, 0.598);
        }
    }
}